<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users and Admins List</title>
    <th:block th:include="layout ::link"/>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>

<!--/*@thymesVar id="user" type="com.finaninfo.user.User"*/-->
<body>
<div th:replace="layout::nav"></div>
<div class="conntainer">
<div th:replace="admin/index::admin-nav">
</div>

    <div class="col-md-9">
        <table class="table ">
            <tr>
            <th></th>
            </tr>
            <tr th:each="news:${newsSet}">
                <td th:text="${news.id}"></td><td th:text="${news.title}"></td>
                <td th:text="${news.getSimpleComposeDate()}"></td><td th:text="${news.getBriefContent()}"></td>
                <td><a th:href="@{'/admin/news-edit/'+ ${news.id}} ">Update</a></td><td><a th:href="'/admin/news-delete/'+${news.id} ">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>