<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!--/*@thymesVar id="news" type="com.finaninfo.model.News"*/-->
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Edit Image</h1>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 ">
                            <form action="http:\\localhost" method="post" enctype="multipart/form-data"
                                  th:action="@{'/admin/news/' + ${newsId} + '/image'}">
                                <label class="control-label">Select File</label>
                                <input id="imagefile" name="imagefile" type="file" class="file"/>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <form th:object="${news}" th:action="@{'/admin/news-edit/'+${newsId}}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group">

                    <!--面板体-->
                    <div class="panel-primary">
                        <!--面板标题-->
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit News</h1>
                        </div>

                        <!--面板主体-->
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-4 form-group">
                                    <label>Title</label>
                                    <input th:field="*{title}"/>
                                </div>




                            </div>

                            <div class="row">


                                <div class="col-md-4 form-group">
                                    <label>Compose Date(Revise date)</label>
                                    <input type="date" th:field="*{composeDate}"/>
                                </div>

                            </div>

                        </div>
                    </div>



                    <div class="panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Content</h1>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{content}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>


        </div>

    </div>
</div>
</body>
</html>