<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:include="layout ::link"/>
    <title>News</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<!--/*@thymesVar id="newsSet" type="org.springframework.data.domain.Page"*/-->
<!--/*@thymesVar id="news" type="com.finaninfo.model.News"*/-->
<body>
<nav th:replace="layout :: nav"></nav>
<div class="container-fluid" >
    <div class="row-fluid">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 20px ">
            <form class="form-search">
                <input class="input-medium search-query" type="text" /> <button type="submit" class="btn">查找</button>
            </form>
        </div>
        <div class="col-md-8">
            <div class="thumbnails">
                <div class="col-md-4" th:remove="all">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/people.jpg" />
                        <div class="caption">
                            <h3>
                                冯诺尔曼结构
                            </h3>
                            <p>
                                也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" th:remove="all">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/city.jpg" />
                        <div class="caption">
                            <h3>
                                哈佛结构
                            </h3>
                            <p>
                                哈佛结构是一种将程序指令存储和数据存储分开的存储器结构，它的主要特点是将程序和数据存储在不同的存储空间中，进行独立编址。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" th:each="news:${newsSet}">
                    <div class="thumbnail">
                        <img alt="300x200" th:src="@{'/news-details/'+${news.id}+'/newsimage'}" th:height="300" th:width="200" />
                        <div class="caption">
                            <h3 th:text="${news.title}">
                                改进型哈佛结构
                            </h3>
                            <p th:text="${news.getBriefContent()}">
                                改进型的哈佛结构具有一条独立的地址总线和一条独立的数据总线，两条总线由程序存储器和数据存储器分时复用，使结构更紧凑。
                            </p>
                            <p>
                                <a class="btn btn-primary" th:href="@{'/news-details/'+${news.id}}">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="thumbnails">
                <div class="col-md-4" th:remove="all">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/people.jpg" />
                        <div class="caption">
                            <h3>
                                冯诺尔曼结构
                            </h3>
                            <p>
                                也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" th:remove="all">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/city.jpg" />
                        <div class="caption">
                            <h3>
                                哈佛结构
                            </h3>
                            <p>
                                哈佛结构是一种将程序指令存储和数据存储分开的存储器结构，它的主要特点是将程序和数据存储在不同的存储空间中，进行独立编址。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" th:remove="all">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/city.jpg" th:height="300" th:width="200" />
                        <div class="caption">
                            <h3 >
                                改进型哈佛结构
                            </h3>
                            <p >
                                改进型的哈佛结构具有一条独立的地址总线和一条独立的数据总线，两条总线由程序存储器和数据存储器分时复用，使结构更紧凑。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                <ul class="pagination">
                    <li>
                        <a th:href="${currentPage}-1">上一页</a>
                    </li>
                    <li th:if="${currentPage}-1">
                        <a th:href="${currentPage}-2" th:text="${currentPage}-2">1</a>
                    </li>
                    <li th:if="${currentPage}-1">
                        <a th:href="${currentPage}-1" th:text="${currentPage}-1">2</a>
                    </li>
                    <li>
                        <a href="#" th:text="${currentPage}">3</a>
                    </li>
                    <li>
                        <a th:href="${currentPage}+1" th:text="${currentPage}+1">4</a>
                    </li>
                    <li>
                        <a th:href="${currentPage}+2" th:text="${currentPage}+2">5</a>
                    </li>
                    <li>
                        <a th:href="${currentPage}+1">下一页</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-unit">
                <h1>
                    Hello, world!
                </h1>
                <p>
                    这是一个可视化布局模板, 你可以点击模板里的文字进行修改, 也可以通过点击弹出的编辑框进行富文本修改. 拖动区块能实现排序.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">参看更多 »</a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
<th:block th:include="layout ::scripts"/>
</html>