<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <th:block th:include="layout::link"/>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/signin/"/>


    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet"   type="text/css" th:href="@{/static/assets/css/signin.css}" href="/static/assets/css/signin.css"/>
</head>
<body>
<div class="jumbotron">

</div>
<div class="container">
<div class="login">
    <div class="col-md-4 ">
    <form class ="form-signin" th:action="@{/login}" th:object="${user}" method="post" >
        <h2 class="form-signin-headline">Welcome to the online Financial information platform</h2>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />



                用户名:   <input type="text" th:field="*{username}" placeholder="username"/>


                密码:    <input type="password" th:field="*{password}" placeholder="password"/>


        <div>
            <label>
                <input type="checkbox" value="remember me"/> 记住我的登陆信息
            </label>
        </div>
        <div class="row">
            <button class="btn btn-lg btn-primary btn-block" type = "submit">Login</button>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <a href="/signup">Don't have an account yet?Sign up first</a>
        </div>
    </form>
</div>
</div>
</div>
</body>
<th:block th:include="layout::scripts"/>
</html>