<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>payment</title>
</head>
<body>
    <div>
        <form th:action="@{/paymentSuccess}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            How would you like to pay
            <br/>
            Selecting Payment Methods:
            Credit Card:<ul>
                <li>DaShuai Bank:<input type="radio" name="paymentMethod" value="DSBank"></li>
                <li>Sifu Bank:<input type="radio" name="paymentMethod" value="SFBank"></li>
                <li>Los Bank:<input type="radio" name="paymentMethod" value="LSBank"></li>
                <li>Zero Credit bank:<input type="radio" name="paymentMethod" value="ZCBank"></li>
            </ul>
            Other Payment Methods:
            <ul>
                <li>WeCrack:<input type="radio" name="paymentMethod" value="WEC"></li>
                <li>ShAliPay:<input type="radio" name="paymentMethod" value="SAP"></li>
                <li>RayPal:<input type="radio" name="paymentMethod" value="RP"></li>
                <li>Tenpenny:<input type="radio" name="paymentMethod" value="TPY"></li>
            </ul>
                <br/>
            <input type="number" name="paymentAmount">
            <input type="text" name="receiverName">
            <button>Confirm</button>>
        </form>
    </div>
</body>
</html>